* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'futura-pt-bold', sans-serif;
  scroll-behavior: smooth;
}

/* Header section - navigation*/
.brand {
  width: 120px;
  height: auto;
  margin-left: 5%;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: white;
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
}

#header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: .5s ease left;
  transition: .5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #035177;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul li:hover a {
  color: #ffa033;
}

#header .hamburger {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 0px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid black;
  -webkit-animation: hamburger_puls 1s ease infinite;
          animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: black;
  z-index: -1;
}

#header .hamburger .bar::after, #header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* End Header section */
/*Main page with title and plants animation*/
#main {
  background-color: white;
  background-size: cover;
  background-position: top center;
  z-index: 1;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

#title-text {
  width: 50vw;
}

#title-img {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

svg {
  height: 500px;
  width: 500px;
}

#learnmore {
  text-align: justify;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin-top: 5%;
  font-family: 'futura-pt-bold';
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #035177;
  background-color: transparent;
  border: 2px solid #035177;
  font-size: 2rem;
  letter-spacing: .1rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: #035177;
}

/*End of Main page*/
/*Text animation DRIPSEA WORLD OF CHANGE*/
/*Animation for box*/
#main .main {
  margin: 0 auto;
  padding: 0 50px;
}

#main h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  -webkit-animation: text_reveal .5s ease forwards;
          animation: text_reveal .5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  /*Animation for plants*/
}

#main h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#main h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#main h1:nth-child(3) {
  -webkit-animation: text_reveal_name .5s ease forwards;
          animation: text_reveal_name .5s ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#main h1 span {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0;
  background-color: #9cd2e7;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
}

#main h1:nth-child(1) span {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#main h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#main h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

/* Marine life, Rising temperatures and social impact section */
#marine .marine {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  max-width: 95%;
  margin: 0 auto;
}

.intro_marine, .intro_impact, .intro_temperatures, .intro_improve {
  font-family: "Helvetica";
  font-weight: lighter;
  max-width: 112vh;
  text-align: justify;
}

.intro_temperatures, .intro_impact, .intro_improve {
  max-width: 112vh;
  margin-bottom: 5%;
}

#first_subtopic, #second_subtopic {
  font-size: 17px;
  color: #035177;
}

#marine .marine-top {
  margin: 30px;
  text-align: center;
}

#marine .marine-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#marine .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  width: 30vw;
  border-radius: 10px 10px 10px 10px;
  background-size: cover;
  background-position: center;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  text-align: center;
}

#marine .service-item h2 {
  font-size: 2rem;
  color: #035177;
  margin-top: 60vh;
}

.fish_img {
  width: 20%;
  height: 20%;
}

.fish-info {
  padding: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9cd2e7;
  color: black;
}

.iceberg_img {
  width: 90%;
  height: 90%;
}

#temperatures .temperatures, #impact .impact, #trying .trying {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
  text-align: justify;
}

#temperatures .all-projects, #impact .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
  margin-top: 3%;
}

#temperatures .temperatures-item, #impact .impact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#trying .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120%;
  margin-top: -2%;
}

#trying .trying-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 5%;
}

#temperatures .temperatures-info, #impact .impact-info, #trying .trying-info {
  padding: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #035177;
  color: white;
}

#temperatures .temperatures-info h2, #impact .impact-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
  color: #ffa033;
  text-align: left;
}

#temperatures_img, #impact_img, #trying-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 30px;
}

.trying-info h2 {
  color: #ffa033;
  font-size: 17px;
}

#link {
  color: #9cd2e7;
}

#link2 {
  color: #035177;
}

#temperatures .temperatures-info p, #impact .impact-info p, #trying .trying-info p, #impact .impact-info p {
  color: white;
}

.tryingtitle {
  margin-top: 7%;
  margin-bottom: -5vh;
  text-align: center;
  font-size: 40px;
  color: #ffa033;
}

#temperatures .temperatures-img, #impact .impact-img, #trying .trying-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.temperatures-header, .impact-header {
  max-width: 120vh;
}

#temperatures .temperatures-img img, #impact .impact-img img, #trying .trying-img img {
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

#improve .improve-img, #improve .improve-img2 {
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

#temperatures .temperatures-item:hover .temperatures-img img, #impact .impact-item:hover .impact-img img, #trying .trying-item:hover .trying-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#improve .improve-item:hover .improve-img img, #improve .improve-item:hover .improve-img2 img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* End Subpages section */
/*General settings for titles and text, images*/
a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: black;
  font-family: "Helvetica";
  font-weight: lighter;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

h1, h2 {
  font-family: "futura-pt-bold";
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
  padding-top: 9vh;
}

.section-title2 {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span, .section-title2 span {
  color: #ffa033;
}

/* What can I do? Section */
#improving {
  color: #035177;
  text-align: left;
  font-size: 17px;
}

#improve .improve {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
}

#improve .improve-items {
  width: 400px;
}

.improve-img2 {
  width: 85%;
}

#improve .improve-item {
  width: 80%;
  padding: 20px;
  text-align: justify;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 18px 0 #0000002c;
          box-shadow: 0px 0px 18px 0 #0000002c;
  -webkit-transition: .3s ease box-shadow;
  transition: .3s ease box-shadow;
}

#improve .improve-item:hover {
  -webkit-box-shadow: 0px 0px 5px 0 #0000002c;
          box-shadow: 0px 0px 5px 0 #0000002c;
}

/*End what can I do? Section */
/* Footer */
#footer {
  background-color: #035177;
}

#footer .footer {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer p {
  color: white;
  font-size: 1.3rem;
  max-width: 90%;
  margin-top: 3%;
}

#footerp {
  font-family: 'futura-pt-bold';
}

/* End Footer */
/* Animation for hamburger and for main title on main page*/
/* All keyframes for animations*/
/* PLANTS ANIMATION */
.st1, .st8, .st9, .st10, .st4, .st2, .st10, .st17, .st11, .st12 {
  -webkit-animation: list 2s ease-in-out infinite alternate;
          animation: list 2s ease-in-out infinite alternate;
}

.st3, .st19 {
  -webkit-animation: list5 2s ease-in-out infinite alternate;
          animation: list5 2s ease-in-out infinite alternate;
}

.st5, .st6, .st7 {
  -webkit-animation: list2 2s ease-in-out infinite alternate;
          animation: list2 2s ease-in-out infinite alternate;
}

.st13, .st18 {
  -webkit-animation: list3 2s ease-in-out infinite alternate;
          animation: list3 2s ease-in-out infinite alternate;
}

polygon {
  -webkit-animation: list 2s ease-in-out infinite alternate;
          animation: list 2s ease-in-out infinite alternate;
}

.st14, .st15, .st16 {
  -webkit-animation: list4 2s ease-in-out infinite alternate;
          animation: list4 2s ease-in-out infinite alternate;
}

@-webkit-keyframes list {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
}

@keyframes list {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
}

@-webkit-keyframes list2 {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translate(5%);
            transform: translate(5%);
  }
}

@keyframes list2 {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translate(5%);
            transform: translate(5%);
  }
}

@-webkit-keyframes list3 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
}

@keyframes list3 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
}

@-webkit-keyframes list4 {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes list4 {
  from {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes list5 {
  from {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes list5 {
  from {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: #035177;
  }
}

@keyframes text_reveal {
  100% {
    color: #035177;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: #ffa033;
    font-weight: 500;
  }
}

@keyframes text_reveal_name {
  100% {
    color: #ffa033;
    font-weight: 500;
  }
}

/* End Keyframes */
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title, h1.section-title2 {
    font-size: 6rem;
  }
  /* Main page */
  #main h1 {
    font-size: 7rem;
  }
  /* End Main page */
  /* Subpages */
  #marine .marine-bottom .service-item {
    /*	flex-basis: 45%; */
    margin: 2.5%;
  }
  /* End subpages */
  /* Rising temperatures and social impact */
  #temperatures .temperatures-item, #impact .impact-item, #zzzzzzz {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #temperatures .temperatures-item:nth-child(even), #impact .impact-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #temperatures .temperatures-item, #impact .impact-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #temperatures .all-projects .temperatures-info, #impact .all-projects .impact-info, #temperatures .all-projects .temperatures-img, #impact .all-projects .impact-img {
    height: 100%;
  }
  /* End Rising temperatures and social impact */
  /* What can i do subpage  */
  #improve .improve {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 20vh;
  }
  #improve .improve-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  #improve .improve-item {
    width: 30%;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #improve .improve-item .icon {
    height: 100px;
    width: 100px;
  }
  #improve .improve-item .icon img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #improve .improve-item .improve-info {
    width: 100%;
    text-align: justify;
    padding-left: 20px;
  }
  /* End What can I do? subpage  */
}

/* End Media Query For Tablet */
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */
  #marine .marine-bottom .service-item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    margin: 1.5%;
  }
}

/* End  Media Query For Desktop */
/*Media queries for mobile device*/
@media only screen and (max-width: 768px) {
  .mountain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .iceberg_img {
    height: 90%;
    padding: 10%;
    margin-left: 5%;
  }
  .fish_img {
    display: none;
  }
  html {
    font-size: 10px;
    font-family: 'futura-pt-bold', sans-serif;
    scroll-behavior: smooth;
  }
  /* Main page with animation and main title */
  #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 75vh;
    width: 100vw;
  }
  #title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 75vw;
    height: 30vh;
    margin-top: 120px;
  }
  #title-img {
    width: 100vw;
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30vw;
    margin-top: 70px;
  }
  svg {
    height: 300px;
    width: 300px;
  }
  img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Marine wildlife*/
  #marine .marine-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2%;
  }
  #trying .trying {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 310px;
    margin: 0 auto;
    padding: 0;
    text-align: justify;
  }
  #trying .trying-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 5%;
  }
  #trying .trying-info h2 {
    font-size: 1.3rem;
  }
  #marine .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20vh;
    width: 35vw;
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
    background-position: center;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  #marine .service-item h2 {
    font-size: 12px;
    color: #035177;
    margin-top: 23vh;
  }
  .endangered_animals {
    text-align: justify;
    margin: 40px;
  }
  /* Rising temperatures and social impact*/
  .intro_temperatures {
    max-width: 300px;
    margin-left: 10%;
    text-align: justify;
  }
  .intro_impact {
    max-width: 300px;
    margin-left: 3%;
    text-align: justify;
  }
  .intro_improve {
    max-width: 300px;
    margin-left: 5%;
    text-align: justify;
  }
  #improve .improve-items {
    width: 100%;
  }
  #temperatures .temperatures-img, #impact .impact-img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 300px;
  }
  #temperatures .temperatures-info h2, #impact .impact-info h2 {
    font-size: 1.3rem;
  }
  #temperatures .temperatures, #impact .impact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
    padding: 0;
    text-align: justify;
    margin-top: -10%;
  }
  #title_impact {
    margin-top: -20%;
  }
  #improving {
    font-size: 1.3rem;
  }
  /*Footer*/
  #footer p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    max-width: 330px;
    line-height: 2.2;
  }
  #footerp {
    font-family: 'futura-pt-bold';
  }
  .tryingtitle {
    margin-top: 15%;
    margin-bottom: 5vh;
    margin-left: 4vw;
    font-size: 40px;
    color: #ffa033;
  }
  .modal {
    width: 90%;
  }
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */