* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'futura-pt-bold', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}

/*Main title and plants animation on Main page*/
#main {
    background-color: white;
	background-size: cover;
	background-position: top center;
	/*position: relative*/
	z-index: 1;
}

#title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
}

#title-text {
	width: 50vw;
}

#title-img {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg{
    height: 500px;
	width: 500px;
}

#learnmore{
	text-align: justify;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left:0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  button{
	  margin-top:5%;
	  font-family: 'futura-pt-bold';
  }

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: #035177; 
	background-color: transparent;
	border: 2px solid #035177;
	font-size: 2rem;
	letter-spacing: .1rem;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #035177;
}

#main .main {
	max-width: 1373px;
	margin: 0 auto;
	padding: 0 50px;
	/*justify-content: flex-start;*/
}

/*Text animation DRIPSEA WORLD OF CHANGE*/
#main h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}

#main h1:nth-child(1) {
	animation-delay: 1s;
}
#main h1:nth-child(2) {
	animation-delay: 2s;
}
#main h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}

/*Animation for box*/
#main h1 span {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0;
    background-color: #9cd2e7;
	animation: text_reveal_box 1s ease;
}
#main h1:nth-child(1) span {
	animation-delay: .5s;
}
#main h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#main h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* Rising temperatures and Social impact*/
#temperatures_img, #impact_img{
	height: 100%;
	width: 100%;
	object-fit: contain;
	padding: 30px;
}

/*General settings for titles and text, images*/
img {
	height: 100%;
	width: 100%;
    object-fit: cover;
}

p {
	color: black;
	font-family: "Helvetica";
	font-weight: lighter;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

h1, h2{
	font-family: "futura-pt-bold";
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
	padding-top: 9vh;
}
.section-title span  {
	color: #ffa033;
}

/* Header section - navigation*/
.brand{
    width:120px;
	height:auto;
	margin-left: 5%
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
    background-color: white
    ;
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #035177;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

/*
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
*/

/*
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
*/

#header .nav-list ul li:hover a {
	color: #ffa033;
}
#header .hamburger {
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 0px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid rgb(0, 0, 0);
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: rgb(0, 0, 0);
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: rgb(0, 0, 0);
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */

/*
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0;
	z-index: -1;
}
*/

/*  Marine life section */
#marine .marine {
	flex-direction: column;
	text-align: justify;
	max-width: 1200px;
	margin: 0 auto;
}

.intro_marine, .intro_impact, .intro_temperatures, .intro_improve{
	font-family: "Helvetica";
	font-weight: lighter;
}

.intro_temperatures, .intro_impact, .intro_improve{
	max-width:1160px;
	margin-bottom: 5%;
}

#first_subtopic, #second_subtopic{
	font-size:20px;
	color: #035177;
}

/*
#articles_bears .articles_bears{
	max-width: 1200px;
}

#articles_bears .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin-top: 5vh;
}

#articles_foxes .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin-top: -25vh;
}

#articles_walruses .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin-top: -25vh;
}

#articles_seales .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin-top: -25vh;
}

#polar_bear, #polar_foxes, #walruses, #seales{
	display:flex;
	flex-direction: row;
	margin-top: 5vh;
	margin-left: 5vh;
}

#polarbear_importance, #polarfoxes_importance, #walruses_importance, #seales_importance{
	color:  #035177;
	margin-top: -40px;
	font-size: 16px;
}

.foxtext{
	margin-top: 30vh;
}

.walrustext{
	margin-top: 10vh;
}

#polarbear_text, #foxes_text, #seales_text, #walruses_text{
	text-align: center;
	font-size: 15px;
	margin: 4vh;
	margin-top: 5vh;
}

.polarbear-title{
	margin-left:4vw;
	font-size: 40px;
	color: #ffa033;
}

.polarfoxes-title{
	margin-left:4vw;
	font-size: 40px;
	color: #ffa033;
	margin-top: 2%;
}

.walruses-title{
	margin-left:4vw;
	font-size: 40px;
	color: #ffa033;
	margin-top: 4%;
}

.seales-title{
	margin-left:4vw;
	font-size: 40px;
	color: #ffa033;
	margin-top: 6%;
}

.polar_bear1, .polar_foxes1, .walruses1, .seales1{
	border-width: 2px;
	border-radius: 60px;
	border-style: solid;
	border-color: #035177;
	max-width: 300px;
	max-height: 280px;
	margin: 20px;
	
}

.polar_bear2, .polar_foxes2{
	max-width: 1260px;
	margin-top: 2%;
	margin-left: 2%;
	text-align:justify
}

.polar_foxes2{
	max-width: 830px;
	margin-top: 7%;
	margin-left: 2%;
	text-align:justify
}

.walruses2{
	max-width: 830px;
	margin-top: 7%;
	margin-left: 2%;
	text-align:justify
}

.seales2{
	max-width: 830px;
	margin-top: 2%;
	margin-left: 2%;
	text-align:justify
}*/

#marine .marine-top {
	max-width: 1260px;
	margin: 30px;
}
#marine .marine-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#marine .service-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 50vh;
	width: 30vw;
	border-radius: 10px 10px 10px 10px;
	background-size: cover;
	background-position: center;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	text-align: center;
}

#item1{
	background-image: url("img/bear.png");
}
#item2{
	background-image: url("img/fox.png");
}

#item3{
	background-image: url("img/mroz.png");
}

#item4{
	background-image: url("img/seal.png");
}

#marine .service-item h2 {
	font-size: 2rem;
	color: #035177;
	margin-top: 60vh;
}

.endangered_animals{
	max-width:1200px;
	text-align: justify;
	margin: 55px;
}

.obrazky{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: -10%;
}

.fish_img{
	width: 20%;
	height: 20%;
}

.iceberg_img{
	width: 90%;
	height: 90%;
}

/* Marine life, Rising temperatures and social impact section */
#temperatures .temperatures , #impact .impact, #trying .trying{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 ;
	text-align:justify;
}

#temperatures .temperatures, #trying .trying{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 ;
	text-align:justify;
}

#temperatures .all-projects , #impact .all-projects{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 97%;
}

#trying .all-projects{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 120%;
}
#temperatures .temperatures-item, #impact .impact-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#trying .trying-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 5%;
}

#temperatures .temperatures-info, #impact .impact-info, #trying .trying-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	background-color:#035177;
	color: white;
}

/*
#trying .trying-info{
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	background-color:#035177;
	color:black;
	
}*/

.trying-info2{
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	background-color:#9cd2e7;
}

#temperatures .temperatures-info h2, #impact .impact-info h2{
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
	color:  #ffa033;
}

.trying-info h2{
	color: #ffa033;
	font-size: 17px;
}

.trying-info2 h2{
	color:#035177;
	font-size: 17px;
}

#link{
	color:#9cd2e7;
}

#link2{
	color:#035177;
}

#temperatures .temperatures-info p, #impact .impact-info p {
	color: white;
}

#trying .trying-info p, #impact .impact-info p {
	color: white;
}

.tryingtitle{
	margin-top: 7%;
	margin-bottom: -5vh;
	text-align: center;
	font-size: 40px;
	color: #ffa033;
}

#temperatures .temperatures-img , #impact .impact-img{
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

/*
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
	opacity: .7;
}*/

#temperatures .temperatures-img img, #impact .impact-img img {
	transition: .3s ease transform;
}
#temperatures .temperatures-item:hover .temperatures-img img, #impact .impact-item:hover .impact-img img {
	transform: scale(1.1);
}
/* End Subpages section */

/* What can I do? Section */
#improving{
	color: #035177;
	text-align: left;
	font-size: 17px;
}

#improve .improve {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#improve .improve-items {
	width: 400px;
}
#improve .improve-item {
	width: 80%;
	padding: 20px;
	text-align: justify;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#improve .improve-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

/*End what can I do? Section */

/* Footer */
#footer {
	background-color: #035177; ;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer p {
	color: white;
	font-size: 1.3rem;
	max-width: 1100px;
}

#footerp{
	font-family: 'futura-pt-bold';
}
/* End Footer */

/* Animation for hamburger and for main title on main page*/
/* All keyframes for animations*/
@keyframes list{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(1deg);
    }
}

@keyframes list2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translate(5%);  
    }
}

@keyframes list3{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(2%);
    }
}

@keyframes list4{
    from{
        transform: translateX(5%);
    }
    to{
        transform: translate(0%);
    }
}

@keyframes list5{
    from{
        transform: translateX(-1%);
    }
    to{
        transform: translate(0%);
    }
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: #035177;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #ffa033;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#main h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#marine .marine-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#temperatures .temperatures-item , #impact .impact-item{
		flex-direction: row;
	}

	#temperatures .temperatures-item:nth-child(even), #impact .impact-item:nth-child(even)  {
		flex-direction: row-reverse;
	}
	#temperatures .temperatures-item, #impact .impact-item{
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#temperatures .all-projects .temperatures-info, #impact .all-projects .impact-info {
		height: 100%;
	}
	#temperatures .all-projects .temperatures-img, #impact .all-projects .impact-img {
		height: 100%;
	}
	/* End Project */

	/* contact  */
	#improve .improve {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#improve .improve-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#improve .improve-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#improve .improve-item .icon {
		height: 100px;
		width: 100px;
	}
	#improve .improve-item .icon img {
		object-fit: contain;
	}
	#improve .improve-item .improve-info {
		width: 100%;
		text-align: justify;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#marine .marine-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */

/* PLANTS AND ICEBERG ANIMATION */
.st1, .st8, .st9, .st10, .st4, .st2, .st10, .st17, .st11, .st12 {
    animation: list 2s ease-in-out infinite alternate;
}

.st3, .st19{
    animation: list5 2s ease-in-out infinite alternate;
}

.st5, .st6, .st7{
    animation: list2 2s ease-in-out infinite alternate;
}

.st13, .st18{
    animation: list3 2s ease-in-out infinite alternate;
}

polygon{
	animation: list 2s ease-in-out infinite alternate;
  }

.st14, .st15 ,.st16{
    animation: list4 2s ease-in-out infinite alternate;
}

/*Media queries for mobile device*/
@media (max-width: 800px) {
	.obrazky{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.iceberg_img{
		height:90%;
		padding: 10%;
		margin-left: 5%;
	}

	.fish_img{
		display: none;
	}

	html {
		font-size: 10px;
		font-family: 'futura-pt-bold', sans-serif;
		scroll-behavior: smooth;
	}
	/* Main page with animation and main title */
	
	#title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 75vh;
		width: 100vw;
	}
	
	#title-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 75vw;
		height: 30vh;
		margin-top: 120px;
	}
	
	#title-img {
		width: 100vw;
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-left: 30vw;
		margin-top: 70px;
	}
	
	svg{
		height: 300px;
		width: 300px;
	}
	
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	/* Marine wildlife*/
	#marine .marine-bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 2%;
	}

	#trying .trying{
		flex-direction: column;
		max-width: 310px;
		margin: 0 auto;
		padding: 0 ;
		text-align:justify;
	}

	#marine .service-item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 20vh;
		width: 35vw;
		border-radius: 10px 10px 10px 10px;
		background-size: cover;
		background-position: center;
		margin: 10px 5%;
		position: relative;
		z-index: 1;
		text-align: center;
	}

	#marine .service-item h2 {
		font-size: 12px;
		color: #035177;
		margin-top: 23vh;
	}

	.endangered_animals {
		max-width: 1200px;
		text-align: justify;
		margin: 40px;
	}

	/* Rising temperatures and social impact*/
	.intro_temperatures{
		max-width:300px;
		margin-left: 10%;
		text-align: justify;
	}

	.intro_impact{
		max-width:300px;
		margin-left: 3%;
		text-align: justify;
	}

	.intro_improve{
		max-width: 300px;
		margin-left: 5%;
		text-align: justify;
	}
	
	#temperatures .temperatures-img, #impact .impact-img {
		flex-basis: 50%;
		height: 300px;
		overflow: hidden;
		position: relative;
		width: 300px;
	}

	#temperatures .temperatures, #impact .impact {
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		text-align: justify;
		margin-top: -10%;
	}

	#title_impact{
		margin-top: -20%;
	}

	/*Footer*/
	#footer p {
		color: white;
		font-size: 0.8rem;
		text-align: center;
		max-width: 330px;
		line-height: 2.2;
	}

	#footerp{
		font-family: 'futura-pt-bold';
	}

	.tryingtitle {
		margin-top: 15%;
		margin-bottom: 5vh; 
		margin-left: 4vw;
		font-size: 40px;
		color: #ffa033;
	}
}
